*{
    padding :0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-color: blueviolet;
}
h1{
    margin-top: 6%;
}
.h{
    margin:15px;
}
 
.b{
    color: blueviolet;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    border-style: none ;
}
.b :hover{
    background-color: black;

}